.container{
    margin:60px;
}

header {
    margin:10px;
}

.navbar-brand {
    color: white;
}

.navbar-link a {
    color: white;
}

@media (max-width: 480px) {
    .navbar-collapse {
        padding:10px
    }
}
